[credential "https://dev.azure.com"]
	useHttpPath = true
[user]
	email = jtutrow23@gmail.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIInOdAared3U7yl0rrxRC9Op3XHdcnNzz7EzkomCUAlO
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
[credential]
	helper = git-credential-manager
[init]
	defaultBranch = main
[pull]
	ff = only
[fetch]
	prune = true
[alias]
	st = status
	br = branch
	co = checkout
	ci = commit
	last = log -1 --stat
	lg = log --oneline --decorate --graph --max-count=20
[rerere]
	enabled = true
[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	side-by-side = false
	line-numbers = false
