zsh/.config/zsh/.zsh_sessions/
zsh/.config/zsh/.zcompdump*
**/.DS_Store
ssh/*.key
ssh/*.pem
ssh/*.pub
ssh/.ssh_repo_backup/
alfred/Alfred.alfredpreferences/
brew/Brewfile.*
*.zwc
ssh/.ssh/known_hosts*

# Zsh noise
**/.zsh_history
**/*.zwc
**/*.zwc.old

# macOS junk
.DS_Store