[storage]
engine = file_system
# Parent folder—Mackup writes into ".../Mackup" here (single level)
path = /Users/jtutrow23/Documents/Configs

[applications_to_ignore]
git
zsh
starship
lazygit

nvim
tmux
mackup   # prevents backing up ~/.mackup.cfg itself
